name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Build with Buildozer
        uses: kivy/buildozer-action@master
        with:
          repository_root: .
          buildozer_version: master
          python_version: 3.11

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ZuuOptimizer
          path: bin/*.apk
